


#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#window {
    
    box-sizing: border-box;
    height: 700px;
    width: 700px;
    outline: 1px solid black ;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   
}

.box {
    outline: 1px solid black;
    box-sizing: border-box;
}

.filled {
    background-color: black;
}

.hovered {
    background-color: gray;
}

#bottomRow,
#topRow {
    height: 50px;
    width: 700px;
    display: flex;
    /*border-style: solid;
    border-color: black; */
    
}

#topRow {
    margin-bottom: 20px;
    margin-top: 10px;
}

#bottomRow {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.button {
    /*gap: 20px; */
    height: 50px;
    width: 100px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
}

.buttonHovered {
    background-color: yellow;
}

.buttonClicked {
    background-color: red;
}
